body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: 'Henny Penny', cursive;
    color: white;
    padding: 20px;
}

#header {
    width: 100%;
    text-align: right;
}

#header img {
    
    width: 50%;
}

.container {
    margin: 0;
}

#characters .column, #your-character .column {
    background: white;
    border: 3px solid #1caf28;
    color: black;
}

#opponents .column {
    background: red;
    border: 3px solid black;
    color: black;
}

#defender .column {
    background: black;
    border: 3px solid #1caf28;
    color: white;
}

.column {
    padding: 0 10px 0 10px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.column p {
    margin: 0;
}

.column img {
    width: 100%;
}

.column:hover {
    opacity: 0.5;
}

h1, h2 {
    margin: 10px 0;
    font-size: 30px;
    display: none;
}

#attack, #restart {
    font-family: arial;
    margin: 10px 0;
    display: none;
}

/* Media Queries */

@media (min-width: 576px) {
    .container {  
      max-width: 800px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 800px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 800px;
    }
  }

  @media (min-width: 1660px) {
      #header {
          position: absolute;
          right: 0;
      }
  }

  @media (min-width: 1920px) {
    body {
        background-size: auto;
    }  
    #header {
          width: 1920px;
      }
  }